<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <!-- Login Servlet -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.LoginServlet</servlet-class>
  </servlet>
  
  <!-- Register Servlet -->
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.RegisterServlet</servlet-class>
  </servlet>
  
  <!-- Appointment Servlet -->
  <servlet>
    <servlet-name>AppointmentServlet</servlet-name>
    <servlet-class>com.AppointmentServlet</servlet-class>
  </servlet>
  
  <!-- Add Doctor Servlet -->
  <servlet>
    <servlet-name>AddDoctorServlet</servlet-name>
    <servlet-class>com.AddDoctorServlet</servlet-class>
  </servlet>
  
  <!-- View Appointments Servlet -->
  <servlet>
    <servlet-name>ViewAppointmentsServlet</servlet-name>
    <servlet-class>com.ViewAppointmentsServlet</servlet-class>
  </servlet>

  <!-- View Patients Servlet -->
  <servlet>
    <servlet-name>ViewPatientsServlet</servlet-name>
    <servlet-class>com.ViewPatientsServlet</servlet-class>
  </servlet>

  <!-- Admin Dashboard Servlet -->
  <servlet>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>com.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorProfileServlet</servlet-name>
  	<display-name>DoctorProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.DoctorProfileServlet</servlet-class>
  </servlet>
  
  <!-- Servlet Mappings -->
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddDoctorServlet</servlet-name>
    <url-pattern>/addDoctor</url-pattern> 
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ViewAppointmentsServlet</servlet-name>
    <url-pattern>/ViewAppointmentsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ViewPatientsServlet</servlet-name>
    <url-pattern>/ViewPatientsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorProfileServlet</servlet-name>
  	<url-pattern>/doctorProfile</url-pattern>
  </servlet-mapping>
  
</web-app>
